
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dataBinding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ng-class">Ng - class</a>
          </li>
         

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ng - components
            </a>
            <ul class="dropdown-menu" aria-labelledby="formsDropdown">
              <li><a class="dropdown-item" routerLink="ng-for">ngFor</a></li>
        
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              signals types
            </a>
            <ul class="dropdown-menu" aria-labelledby="formsDropdown">
              <li><a class="dropdown-item" routerLink="signal">signals</a></li>
              <li><a class="dropdown-item" routerLink="linked-signal">Linked-Signals</a></li>
            </ul>
          </li>
      
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="template-forms">Template-forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactive-form">reactive-form</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              FORMS
            </a>
            <ul class="dropdown-menu" aria-labelledby="formsDropdown">
              <li><a class="dropdown-item" routerLink="template-forms">Template-forms</a></li>
              <li><a class="dropdown-item" routerLink="reactive-form">Reactive-forms</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            API call
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="get-api">GET-api</a></li> 
            <li><a class="dropdown-item" routerLink="post-api">POST-api</a></li>
            <li><a class="dropdown-item" routerLink="customer">Customer</a></li>
          </ul>
        </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="resource-api">Resource - api</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="life-cycle">Life-Cycle</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="temp-continer">temp-contianer</a>
            </li>


        
        

        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button" (click)="onLogOut()">Log out</button>
        </form>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>