<p>Data-binding works!</p>

<!-- One-way data binding -->
<!-- 1. Interpolation -->
<div class="row">
    <div class="col-6">
        Interpolation: writing variables in curly braces
        <p>firstName => {{firstName}}</p>
        <div>
            {{rollnum}}
        </div>
        <span>{{isActive}}</span>
    </div>

    
    <div class="col-6">
        2. Property binding
        <input type="text" [value]="firstName">
        <br>
        <input type="text" [placeholder]="myPlaceholder">
        <br>
        <div [class]="div1ClassName" style="height: 100px; width: 100px">
            <!-- Content if any -->
        </div>
    </div>
</div>

<div class="row">
    3. event- binding
    <div class="col-3">
        <button class = "btn btn-success" (click)="showWelcomeMessage()">Show welcome text</button>
    </div>
    <div class="col3">
        <select (change) = "onCityChange()">
            <option value="Banglore">Banglore</option>
            <option value="Pune">Pune</option>
            <option value="Kanpur">Kanpur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Nagpur">Nagpur</option>
        </select>
    </div>
</div>



<!-- TWO WAY DATA binding -->
 <!-- the same value in the input is assigned to the variable -->
<div class="row">
    <div class="col-3">
        <input type="text" placeholder="This is for two way data binding" [(ngModel)]="firstName">
    </div>

    <div class="col3">
        <select [(ngModel)]="selectedCity">
            <option value="Banglore">Banglore</option>
            <option value="Pune">Pune</option>
            <option value="Kanpur">Kanpur</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Nagpur">Nagpur</option>
        </select>
        -{{selectedCity}}
    </div>

</div>
