<h1>angular 19</h1>
<!-- <p>This is Para</p> -->

<!-- <table style="width: 100%;">
    <tr>
        <td>
            <app-admin></app-admin>
        </td>
        <td>
            <app-user></app-user>
        </td>
        <td>
            <app-single-file-component></app-single-file-component>
        </td>
    </tr>
</table> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- 
<app-ng-if-directive></app-ng-if-directive> -->
<!-- <app-ng-for-directive></app-ng-for-directive> -->
 <!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
 <!-- <app-control-statement></app-control-statement> -->

 <!-- <app-signal></app-signal> -->

 <!-- <app-linked-signal></app-linked-signal> -->


 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'dataBinding'">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ng-class">Ng - class</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>