<p>ng-for-directive works!!</p>
<div class="row">
    <div class="col-3">
        courseName => {{courseName}}
        <br>
        Uppercase => {{courseName | uppercase}}
    </div>
    <div class="col-3">
        Lowercase => {{courseName | lowercase}}
    </div>
    <div class="col-3">
        studetObj => {{studentObj}}
        <br>
        studentObj => {{studentObj | json}}
    </div>
    <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        currentDate => {{currentDate | date:'dd-MMM-yy'}}
        <br>
        currentDate => {{currentDate | date:'dd/MM/yyyy'}}
        <br>
        date only => {{currentDate | date: 'hh:mm:ss'}}
    </div>
</div>

<div class="row">
    <div class="col-2">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>

    <div class="col-5">
        <button *ngFor="let city of cityList" class="btn btn-success mx-1">{{city}}</button>
    </div>

    <div class="col3">
        <div *ngFor="let city of cityList">
            <span>{{city}}</span>
        </div>
    </div>
<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray" [value] = "emp.id">
                {{emp.name}} - {{emp.city}}
            </option>
        </select>
    </div>
</div>

<div class="col-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>company</th>
                <th>city</th>
                <th>attendance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeArray;let srno = index">
                <td>{{srno + 1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.company | na}}</td>
                <td>{{emp.city | uppercase}}</td>
                <td>
                    <app-progress-bar [progressValue]="emp.attendance"></app-progress-bar>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>