<div class="row">
    
<div class="col-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>company</th>
                <th>city</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="isLoader">
               <!-- <ng-container *ngTemplateOutlet="loaderTemplate">

               </ng-container> -->
               <div [ngTemplateOutlet]="loaderTemplate"></div>
            </ng-container>

            <ng-container *ngIf="!isLoader">
                <tr *ngFor="let emp of employeeArray;let srno = index">
                    <td>{{srno + 1}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.company}}</td>
                    <td>{{emp.city}}</td>
                    <td>
                        <h4 *ngIf="emp.isActive else tempDeactive">Active</h4>
                        <!-- <h4 *ngIf="!emp.isActive">De-active</h4> -->
                    </td>
                </tr>
            </ng-container>
           
        </tbody>
    </table>
</div>
</div>

<!-- when we have to use  acode multiple times e use ng template -->
<ng-template #loaderTemplate>
    <tr>
        <td colspan="4" class = "text-align">
            <div class="spinner-border text-muted"></div>
            <div class="spinner-border text-primary"></div>
            <div class="spinner-border text-success"></div>
            <div class="spinner-border text-info"></div>
            <div class="spinner-border text-warning"></div>
            <div class="spinner-border text-danger"></div>
            <div class="spinner-border text-secondary"></div>
            <div class="spinner-border text-dark"></div>
            <div class="spinner-border text-light"></div>

        </td>
    </tr>
</ng-template>

<ng-template #tempDeactive>
    <div class="text-danger">
        <span>De-active</span>
    </div>
</ng-template>